<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form th:action="@{/register}" method="post" th:object="${user}">
    User ID <input type="text" name="userId" th:value="${user.getUserId()}"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>

    Password <input type="password" name="password" th:value="${user.getPassword()}"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    Re-enter Password <input type="password" name="rePassword" th:value="${rePassword}"/><br>
    Email <input type="text" name="email" th:value="${user.getEmail()}"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    Phone number <input type="text" name="phoneNumber" th:value="${user.getPhoneNumber()}"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>

    First name <input type="text" name="firstName" th:value="${user.getFirstName()}"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

    Last name <input type="text" name="lastName" th:value="${user.getLastName()}"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

    Birthdate <input type="date" name="birthDate" th:value="${user.getBirthDate()}"><br>
    <div style="color: red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>

    Province <input type="text" name="province" th:value="${user.getProvince()}"><br>
    <div style="color: red" th:if="${#fields.hasErrors('province')}" th:errors="*{province}"></div>

    District <input type="text" name="district" th:value="${user.getDistrict()}"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('district')}" th:errors="*{district}"></div>

    Ward <input type="text" name="ward" th:value="${user.getWard()}"><br>
    <div style="color: red" th:if="${#fields.hasErrors('ward')}" th:errors="*{ward}"></div>

    Street Address <input type="text" name="streetAddress" th:value="${user.getStreetAddress()}"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('streetAddress')}" th:errors="*{streetAddress}"></div>

    <input type="submit" name="register" value="Register"/>
</form>
</body>
</html>